body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.491), rgba(0, 0, 0, 0.416)) , url(./images/login-bg.jpeg);
    height: 100vh;
    background-color: #121212; 
}
.login-top{
    width: 100vw;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.login-top img{
    width: 150px;
}


.login-box{
    background-color: rgba(0, 0, 0, 0.899);
    width: 430px;
    height: 630px;
    border-radius: 5px;
    padding: 50px;
}

.small-text{
    font-size: 13px;
}

.form-control{
    box-shadow: none !important;
}
/* features css */
/* styles.css */
/* Custom styling for the accordion */
.accordion-item {
    background: linear-gradient(to bottom, #000000, #333333); /* Black to dark grey gradient */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    margin-bottom: 10; /* Remove margin between accordion items */
}
.accordion-button {
    color: #ffffff; /* White text color for accordion buttons */
    background-color: #333333; /* Dark grey background color for accordion buttons */
    margin-bottom: 0; /* Remove margin between accordion buttons */
}
.accordion-button:hover {
    background-color: #555555; /* Darker grey background color on hover */
}
.accordion-body {
    border-top: 1px solid #666666; /* Add border at the top of the accordion body */
    padding: 5; /* Remove padding for content */
    margin-top: 5; /* Remove margin at the top of the accordion body */
    color: #ffffff; /* White text color for accordion body */
}
.faq-header {
    text-align: center;
    color: #ffffff; /* White text color */
}
