/* Media query targeting screens small screen 767.99  */
@media (max-width: 767.99px) {
    /* Reduce the width of the navbar brand image */
    .navbar-brand img {
        width: 43px;
    }
}

/* Class for adding left padding */
.netflix-padding-left {
    padding-left: 10px;
}

/* Class for adding right padding */
.netflix-padding-right {
    padding-right: 10px;
}

/* Class for displaying a dropdown box */
.netflix-dropdown-box {
    display: block;
}
