body{
    background-color: #1a1919;
    overflow-x: hidden;
    position: relative;
}

.netflix-padding-left{
    padding-left: 57px;

}
.netflix-padding-right{
    padding-right: 57px;
    
}
.netflix-navbar{
    position: fixed;
    width: 100vw;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9); /* Adjust the opacity or color here */
}

.netflix-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand img{
    width: 100px;
}
.netflix-dropdown-box{
    display: none ;
}
.netflix-dropdown{
    background-color: transparent;
    color: white;
    font-size: 9px;
    border: none;
}
.netflix-dropdown-box .dropdown-menu{
    background-color: hsla(0, 3%, 31%, 0.158);
    font-size: 9px;
    color: white;
    margin-left: 8px ;
    border-top:3px solid white;
    margin-top: 30px;
}
.netflix-dropdown-box .dropdown-menu .dropdown-item{
    color: rgba(255, 238, 238, 0.765);
    width: 250px;
    font-size: 15px;
    padding: 20px;
}
.netflix-dropdown-box .dropdown-menu .dropdown-item:hover{
    background-color:rgba(255, 255, 255, 0.145) ;
    color: white;

}
.netflix-nav {
    display: block;
    align-items: center;
}

.netflix-nav section {
    display: flex; /* Use flexbox to horizontally align the buttons */
}

.netflix-nav section button {
    margin-right: 20px; /* Add some spacing between buttons */
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5); /* Set button text color */
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: color 0.3s ease; /* Add transition effect for smoother hover */
}

.netflix-nav section button:hover {
    color: white; /* Change text color on hover */
}
i{
    font-size: 20px;
    color: white;
    padding: 5px 20px;
}
.netflix-profile{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 4px;
    margin-left:20px ;
    cursor: pointer;
}
.fa-duatone{
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    /* background-color: grey; */
}
/* netflix video */
.netflix-home-video{
    width: 100%;
    position: relative;
    z-index: 10;
}
.netflix-home-video video{
    width: 100%;
}

/* play icon */
.fa-play{
    color: black;
    padding: 0px;
}
/* more info icon */
.fa-circle-info{
    padding: 0px;
}

.netflix-home-video .content{
    position: absolute;
    top: 70%;
    width: 100%;
    z-index: 100;
    display: flex;
}
.card{
    width: 250px;
    background-color:#1a1919;
    border-radius: 4px;
    transition: 0.2s linear;
    margin: 3px;
    position: relative;
}
.card:hover{
    transform: scale(1,2);
    z-index: 10;

}
.netflix-card-text{
    font-size: 12px;
}
.footer {
    margin-top: 150px;
    margin-bottom: 100px;
}

ul {
    list-style: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.367);
    font-weight: 100;
}

ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.367);
    transition: color 0.3s ease;
}

ul li a:hover {
    color: white;
}

.service-btn {
    background-color: transparent;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.367);
    border: 1px solid rgba(255, 255, 255, 0.367);
    font-size: 15px;
    font-weight: 100;
}

.copy-right {
    font-size: 15px;
    font-weight: 200;
    color: rgb(249, 14, 14);
    margin-left: 28px;
}
